div.a1{
    font-size: 50%;
   }
div.a2{
    font-size: 60%;
   }
div.a3{
    font-size: 70%;
   }
div.a4{
    font-size: 80%;
   }
div.a5{
    font-size: 90%;
   }
div.a6{
    font-size: 110%;
   }
div.a7{
    font-size: 125%;
   }
div.a8{
    font-size: 140%;
   }
div.a9{
    font-size: 155%;
   }
div.a10{
    font-size: 170%;
   }
div.a11{
    font-size: 185%;
   }
div.a12{
    font-size: 200%;
   }
div.a13{
    font-size: 215%;
   }
div.a14{
    font-size: 245%;
   }
div.a15{
    font-size: 270%;
   }
div.a16{
    font-size: 330%;
   }